<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SampleInt" value="32"/>
		<add key="SampleString" value="string"/>
		<add key="SampleDateTime" value="2017-11-01"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
